<footer class="site-footer">
    <div class="bottom-bar"></div>
    <div class="footer-container">
        <a href="playvalorant.com" class="riot-link">
            <img class="riot" src="/resources/images/riot.png" alt="Riot" />
        </a>
        <div class="footer-text">
            <div class="line1">Powered by 
                <a class="footer-link" href="http://vlr.gg">VLR</a>
            </div>
            <div class="line2">Branch from 
                <a class="footer-link" href="http://valorantfantasyleague.net">VFL</a>
            </div>
        </div>
        <img class="shftl" src="/resources/images/unico.png" alt="SHFTL" />
    </div>
</footer>
