<header class="site-header">
     <div class="header-inner">
        <img class="logo" src="/public/resources/images/unico.png" alt="SHFTL" />
        <nav class="main-nav" aria-label="Primary">
            <a href="index.html">Home</a>
            <a href="team.html">Squad</a>
            <a href="matchups.html">Matchups</a>
            <a href="fixtures.html">Fixtures</a>
            <a href="players.html">Players</a>
            <a href="rules.html">Rules</a>
            <a href="account.html">Account</a>
        </nav>
        <a href="http://localhost:3000/auth/discord" class="header-link">
            <img class="discord" src="/public/resources/images/discord.png" alt="Disord" />
        </a>
    </div>
</header>
